* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Calibri", "Roboto", sans-serif;
}
div.container {
    height: 100vh;
    width: 100%;
    background: url("../img/photo-1466179262313-02a151abfb3e.jpeg") 0 0 no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.container_chat {
    height: 100vh;
    width: 100%;
}
.container_chat h1, h1~p {
    color: hsl(0, 10%, 40%);
}
h1, p {
    padding: 10px;
    text-align: center;
    color: #fff;
}
div.index-form {
    height: 250px;
    width: 40%;
    background: #fff;
    border-radius: 3px;
    margin: 30px auto 0;
}
.message_input_wrapper {
    text-align: center;
}
.message_input {
    height: 50px;
    width: 80%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    margin-top: 40px;
}
input.message_input {
    border-bottom: 1px solid hsl(0, 0%, 40%);
}
.top_menu {
    display: flex;
    justify-content: center;
    width: 100%;
}
p.chat_message {
    padding: 5px;
}
.chat_message em{
    font-size: .7rem;
}
.chat_window {
    width: 80%;
    height: 75vh;
    border: 2px solid #000;
    margin: 0 auto;
    border-radius: 3px;
    overflow: auto;
}
.chat_window p {
    color: #000;
}
.chat_window img {
    height: 35px;
    width: 35px;
}
.send_message {
    position: fixed;
    width: 100%;
    bottom: 70px;
}
.bottom_wrapper {
    display: flex;
    justify-content: flex-end;
}
.message_input_wrapper {
    width: 100%;
    margin-left: 20px;
}
.message_input_wrapper--index {
    text-align: center;
}
.message_input--index {
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    margin-top: 40px;
    border-bottom: 1px solid hsl(0, 0%, 40%);
}
.send-message--index {
    height: 40px;
    width: 140px;
    background: #fff;
    border: 1px solid;
    font-size: .8rem;
    display: block;
    cursor: pointer;
    margin: 50px auto 0;
}
input.message_input_1 {
    height: 100%;
    width: 100%;
}
input.send-message {
    height: 40px;
    width: 140px;
    background: #fff;
    border: 1px solid;
    font-size: .8rem;
    display: block;
    cursor: pointer;
    margin: 0 20px 0 10px;
}
footer {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 80px;
    text-align: center;
    background: #fff;
}
.img_foot {
    height: 15px;
    width: 15px;
}
@media screen and (max-width: 640px) and (min-width: 320px) {
    div.container {
        height: 100vh;
        width: 100%;
        background: url("../img/photo-1466179262313-02a151abfb3e.jpeg") 0 0 no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1, p {
        padding: 10px;
        text-align: center;
        color: #fff;
    }
    div.index-form {
        height: 250px;
        width: 80%;
        background: #fff;
        border-radius: 3px;
        margin: 30px auto 0;
    }
    .message_input_wrapper {
        text-align: center;
    }
    .message_input {
        height: 50px;
        width: 80%;
        border: none;
        outline: none;
        font-size: 1.3rem;
        margin-top: 40px;
    }
    input.message_input {
        border-bottom: 1px solid hsl(0, 0%, 40%);
    }
    .chat_window {
        width: 90%;
        border: 2px solid #000;
        margin: 0 auto;
        border-radius: 3px;
    }
    .send_message {
        position: fixed;
        width: 100%;
        bottom: 70px;
    }
    .bottom_wrapper {
        display: flex;
        justify-content: flex-end;
    }
    .message_input_wrapper {
        width: 100%;
        margin-left: 20px;
    }
    input.message_input_1 {
        height: 100%;
        width: 100%;
    }
    input.send-message {
        height: 40px;
        width: 140px;
        background: #fff;
        border: 1px solid;
        font-size: .8rem;
        display: block;
        cursor: pointer;
        margin: 0 20px 0 10px;
    }
    footer {
        height: 70px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        line-height: 80px;
        text-align: center;
    }
    .img_foot {
        height: 15px;
        width: 15px;
    }
}

